@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.SP {
  border-color: #fca61f;
}

.Right>span:hover {
  color: #fca61f;
  cursor: pointer;
  scale: 1.0;
  font-size: 20px;
}

.BTN {
  background: #fca61f;
}

.BTN:hover {
  background-color: white;
  color: black;
  border: 1px solid #fca61f;
}

.ICONS_IMG>img {
  width: 7%;
  height: 50px;
}

.ICON {
  animation: animataion 1s linear;
}

@keyframes animataion {
  0% {
    transform: translate(-15%);
  }

  100% {
    transform: none;
  }
}

.ICON_SPAN {
  animation: animat 1s linear;

}

@keyframes animat {
  0% {
    transform: translate(10%);
  }

  100% {
    transform: none;
  }
}

.DIV_LINEAR {
  background: linear-gradient(90deg, rgb(163, 27, 111) 0%, rgb(214, 142, 8), rgba(0, 212, 255, 1) 100%);
}

.BTN_2 {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
}

.BG_COL {
  background: linear-gradient(rgba(161, 133, 114, 0.659) 0%, rgba(233, 162, 30, 0.647) 25%, rgba(228, 228, 48, 0.664) 50%, rgba(0, 166, 0, 0.591) 75%, rgba(50, 50, 206, 0.636) 100%);
}

.BG_COL2 {
  background-image: linear-gradient(to Right, #e2dfdf 30%, rgb(32, 164, 173) 80%);
}

.BG_COL3 {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

.BG_COL4 {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.LFT{
  animation: animate 3s linear;
}
@keyframes animate {
  0%{
    transform: translate(-100px);
  }
  100%{
    transform: translate(0px);
  }
}
.RGT{
  animation: Animate 3s linear ;
}
@keyframes Animate {
  0%{
    transform: translate(100px);
  }
  100%{
    transform: translate(0px);
  }
}
.Right>span{
  animation: span 1s linear;
}
@keyframes span {
  0%{
    transform: translate(50px);
  }
  100%{
    transform: translate(0px);
  }
}
.Left{
  animation: Span 1s linear;
}
@keyframes Span {
  0%{
    transform: translate(-50px);
  }
  100%{
    transform: translate(0px);
  }
}
.TEXT_H1{
  animation: scale 2s linear ;
}
@keyframes scale {
0%{
  transform: scale(0);
}  
100%{
  transform: scale(1);
}
}
.DIV_AN{
  animation: up 2s linear;
}
@keyframes up {
  0%{
    transform: translateY(50px);
  }
  100%{
    transform: translate(0px);
  }
  
}